[Unit]
Description=BOCS Data Collector and Uploader

[Service]
WorkingDirectory=/home/pi/bocs_control
User=pi
Group=pi
ExecStart=/bin/bash /home/pi/bocs_control/run_control.sh
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
