SUBSYSTEM=="tty", ACTION=="add", KERNELS=="1-1.1.2", SYMLINK+="SENSOR_ARRAY_A"
SUBSYSTEM=="tty", ACTION=="add", KERNELS=="1-1.1.3", SYMLINK+="SENSOR_ARRAY_B"
