SUBSYSTEM=="tty", ACTION=="add", KERNELS=="1-1.1.2", SYMLINK+="SENSOR_ARRAY_1"
SUBSYSTEM=="tty", ACTION=="add", KERNELS=="1-1.3", SYMLINK+="SENSOR_ARRAY_2"
SUBSYSTEM=="tty", ACTION=="add", KERNELS=="1-1.1.3", SYMLINK+="PM_INSTRUMENT"
