Source: python-bocscontrol
Section: python
Priority: optional
Maintainer: Stuart Lacy <stuart.lacy@york.ac.uk>
Build-Depends: debhelper-compat (= 12), dh-python, python3 (>= 3.4), python3-serial, python3-setuptools
Standards-Version: 4.1.1.0
Vcs-Git: https://github.com/wacl-york/bocs_control.git
Vcs-Browser: https://github.com/wacl-york/bocs_control

Package: python3-bocscontrol
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}, python3-pyserial
Provides: ${python3:Provides}
Description: Control code for the BOCS instrument
