Source: python-bocs
Section: python
Priority: optional
Maintainer: Stuart Lacy <stuart.lacy@york.ac.uk>
Build-Depends: debhelper-compat (= 12), dh-python, python3 (>= 3.4), python3-setuptools, dh-systemd
Standards-Version: 4.1.1.0
Vcs-Git: https://github.com/wacl-york/bocs_control.git
Vcs-Browser: https://github.com/wacl-york/bocs_control

Package: python3-bocs
Architecture: all
Depends: ${python3:Depends}, python3-serial
Description: Control code for the BOCS instrument
