[Unit]
Description=BOCS Data Collector

[Service]
WorkingDirectory=/home/pi
User=pi
Group=pi
ExecStart=bocs_control
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
